.footer {
    background-color: #004c98;
    /* Dark blue background color */
}

.footer a {
    text-decoration: none;
    /* Remove underline from links */
}

.footer a:hover {
    text-decoration: underline;
    /* Underline links on hover */
}